################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Savics_Test_Kamdjo/bin/Debug
/Savics_Test_Kamdjo/obj/Debug
